In [2]:
%matplotlib inline
import pandas as pd
import json

In [3]:
#File locations
acs_file = "/home/russ/Documents/DDL/Data/JeffData/PCA/Jeff_data_acs5yr.csv"
zillow_HVI_file = "/home/russ/Documents/DDL/Data/JeffData/PCA/Zip_Zhvi_AllHomes_HomeValueIndex.csv"
FDIC_deposits_100K_file = "/home/russ/Documents/DDL/Data/JeffData/PCA/FDIC_All_Reports_20150630/All_Reports_20150630_Deposits Based on the $100,000 Reporting Threshold.csv"
FDIC_deposits_250K_file = "/home/russ/Documents/DDL/Data/JeffData/PCA/FDIC_All_Reports_20150630/All_Reports_20150630_Deposits Based on the $250,000 Reporting Threshold.csv"
library_file = "/home/russ/Documents/DDL/Data/JeffData/PCA/Public_Libraries_Survey_FY_2013_-_Outlet.csv"
complaints_file = "/home/russ/Documents/DDL/Data/JeffData/PCA/Consumer_Complaints.csv"

In [3]:
acs = pd.read_csv(acs_file)

In [4]:
acs.head()

,zip5,pop,race_white,race_black,race_indian,race_asian,race_pac_is,race_other,race_multi,hisp,...,marital_yes30to34,marital_yes35to39,marital_yes40to44,marital_yes45to49,marital_yes50to54,marital_yes55to59,marital_yes60to64,marital_yes65to74,marital_yes75to84,marital_yes85p
0,601,18450,0.946179,0.007805,0.000217,0.000000,0,0.042005,0.007588,0.994580,...,0.038743,0.030818,0.049919,0.051477,0.053644,0.038607,0.049038,0.068274,0.029193,0.005690
1,602,41302,0.635611,0.035010,0.000654,0.001719,0,0.030676,0.592659,0.935838,...,0.039094,0.037999,0.051465,0.049600,0.058420,0.054276,0.053892,0.067683,0.025244,0.002545
2,603,53683,0.775217,0.032953,0.000335,0.008345,0,0.030643,0.305013,0.958609,...,0.037783,0.037464,0.033750,0.039014,0.042386,0.046215,0.056538,0.077891,0.031152,0.003168
3,606,6591,0.953421,0.011227,0.000000,0.000000,0,0.022151,0.026400,0.998635,...,0.004145,0.024496,0.032410,0.029772,0.049934,0.034483,0.061428,0.052007,0.012436,0.003580
4,610,28963,0.740013,0.029141,0.000000,0.000725,0,0.167041,0.126161,0.992542,...,0.032814,0.031205,0.067025,0.049411,0.052079,0.041282,0.048353,0.078161,0.026590,0.006563

In [5]:
zillow = pd.read_csv(zillow_HVI_file)

In [6]:
zillow = zillow[['RegionName','1996-07','1997-01','1997-07','1998-01','1998-07','1999-01','1999-07','2000-01','2000-07'\
    ,'2001-01','2001-07','2002-01','2002-07','2003-01','2003-07','2004-01','2004-07','2005-01','2005-07','2006-01','2006-07'\
    ,'2007-01','2007-07','2008-01','2008-07','2009-01','2009-07','2010-01','2010-07','2011-01','2011-07','2012-01','2012-07'\
    ,'2013-01','2013-07','2014-01','2014-07','2015-01','2015-07']]

In [7]:
zillow.head()

,RegionName,1996-07,1997-01,1997-07,1998-01,1998-07,1999-01,1999-07,2000-01,2000-07,...,2011-01,2011-07,2012-01,2012-07,2013-01,2013-07,2014-01,2014-07,2015-01,2015-07
0,10025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,758600,751200,737500,772400,825700,908100,998300,1001700,1029600,1097100
1,60657,141900,144600,154500,161400,165300,179000,188700,201900,220300,...,288300,274600,258900,264000,267900,279900,294700,297000,304500,307000
2,60614,193200,197200,199200,200800,216500,228400,244900,261900,276700,...,351800,348500,332900,332900,335700,354000,386800,382300,378900,393000
3,79936,71100,72600,74000,76000,76200,75600,77100,78400,78900,...,110100,109200,108700,109000,109900,111300,109600,111900,111600,112100
4,10002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,704800,688900,696000,700000,730300,791900,849400,863900,903200,951600

In [8]:
deposits_250K = pd.read_csv(FDIC_deposits_250K_file)

In [9]:
#deposits_250K = deposits_250K[['zip'],['IDdepsmb'],['DEPSMRA'],['DEPSMRN'],['NTRCDSMJ'],['IDdeplam'],['IDdeplgb'],['DEPLGRA'],['DEPLGRN'],['NTRTMLGJ']]
deposits_250K = deposits_250K[['zip','IDdepsam','IDdepsmb','DEPSMRA','DEPSMRN','NTRCDSMJ','IDdeplam','IDdeplgb','DEPLGRA','DEPLGRN','NTRTMLGJ']]

In [10]:
deposits_250K.columns = ['zip','dep_amt_low','dep_count_low','retirement_amt_low','retirement_count_low','time_deposits_low','dep_amt_high','dep_count_high','retirement_amt_high','retirement_count_high','time_deposits_high']

In [11]:
deposits_250K.head()

,zip,dep_amt_low,dep_count_low,retirement_amt_low,retirement_count_low,time_deposits_low,dep_amt_high,dep_count_high,retirement_amt_high,retirement_count_high,time_deposits_high
0,21613,105111,9871,11265,712,40000,49156,70,781,2,13062
1,21202,0,0,0,0,0,500,1,0,0,500
2,63376,42888,1250,1552,84,28590,21793,32,0,0,4088
3,59317,30205,2340,743,57,7043,11090,30,0,0,0
4,74728,82686,8762,6146,208,26712,28517,37,360,1,1787

In [4]:
library = pd.read_csv(library_file)

In [199]:
#Slice field value based on hard coded State
#Next step to substitute ['STABR'] for State text to dynamically find location of each state within address field
#library_zip.apply(lambda x : x['Location'][0:15], axis =1)
#library_zip.apply(lambda x : x['Location'][x['Location'].find(', AK')+5:x['Location'].find(', AK')+10], axis =1)
#Strip Zip Code From Location Column
#library_zip = library[['Location','STABR']]
#library_zip['zip'] = library_zip.apply(lambda x : x['Location'][x['Location'].find(', ' + x['STABR'])+5:x['Location'].find(', ' + x['STABR'])+10], axis =1)

In [6]:
library['zip'] = library.apply(lambda x : x['Location'][x['Location'].rfind(', ' + x['STABR'])+5:x['Location'].rfind(', ' + x['STABR'])+10], axis =1)

In [7]:
library.head(2)

,STABR,FSCSKEY,FSCS_SEQ,LIBID,LIBNAME,CNTY,PHONE,C_OUT_TY,C_MSA,SQ_FEET,...,CENTRACT,CENBLOCK,CDCODE,CBSA,MICROF,GAL,GALMS,POSTMS,Location,zip
0,AK,AK0001,2,AK0001-002,ANCHOR POINT PUBLIC LIBRARY,KENAI PENINSULA,9072355692,CE,NO,1287,...,8.00,3014,200,0,0,house,STD,NND,"72551 MILO FRITZ AVENUE\nANCHOR POINT, AK 9955...",99556
1,AK,AK0002,7,AK0002-007,CHUGIAK/EAGLE RIVER NEIGHBORHOOD LIBRARY,ANCHORAGE,9073431530,BR,CC,17888,...,2.01,2021,200,11260,0,addresspoint,STD,NND,"12001 BUSINESS BOULEVARD #176\nEAGLE RIVER, AK...",99577

In [9]:
#Change to your local path
library.to_csv("/home/russ/Documents/DDL/Data/JeffData/PCA/Library_ZipCode.csv")